:root {
    --text-color-1: rgb(209 198 170);
    --bg-color-1: rgb(9, 9, 9);
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'font';
    background: var(--bg-color-1);
    color: var(--text-color-1);
    user-select: none;
    overflow: hidden;
}

.options {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.options span{
    font-size: 1.2rem;
    margin: 0 0 10px 0;
    cursor: pointer;
    padding: 0 100px;
}

.options span:hover{
    filter: brightness(120%);
}

/* MUSIC CONTROLS */

.music-controls {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.strike {
    content: '';
    position: absolute;
    height: 1px;
    width: 150%;
    background: linear-gradient(90deg, transparent 0%, rgb(209 198 170) 30%, rgb(209 198 170) 70%, transparent 100%);
    border-radius: 50%;
    top: 12px;
    left: -26%;
}

.menu-screen {
    content: '';
    margin: 0;
    padding: 0;
    display: block;
    width: calc(100vw - 10%);
    height: calc(100vh - 10%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, rgb(21, 19, 15) 10%, rgb(21, 19, 15) 90%, rgba(21, 19, 15, 0) 100%);

}

.menu-screen::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, #43423b 5%, #43423b 95%, rgba(21, 19, 15, 0) 100%);
    border-radius: 400px / 2px;
}

.menu-screen::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, #43423b 5%, #43423b 95%, rgba(21, 19, 15, 0) 100%);
    border-radius: 400px / 2px;
    position: absolute;
    bottom: 0;
}

.window {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: calc(100% - 10%);
    height: calc(100% - 5%);

}

/* START SCREEN */

.start-container{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: calc(100% - 20%);
    height: calc(100% - 10%);
}

.start-text{
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    text-align: justify;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.start-text span{
    margin-bottom: 10px;
}

.download{
    display: flex;
    position: absolute;
    bottom: 90px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

#download-resume{
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
    color: var(--text-color-1);
    text-align: center;
}

#download-resume:hover{
    filter: brightness(120%);
}

.resume-click{
    background: linear-gradient(90deg, transparent 0%, rgb(85 63 41) 20%, rgb(156 126 94)40%, rgb(156 126 94) 60%, rgb(85 63 41) 80%, transparent 100%);
    border-radius: 10%;
    width: 30%;
    text-shadow: 4px 2px 5px rgb(0, 0, 0);

}

/* PROJECTS SCREEN */

.p-container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: calc(100% - 5%);
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

.list-container {
    height: 400px;
    width: 350px;
    padding: 0;
    text-align: center;
    overflow-Y: scroll;
    scroll-behavior: smooth;
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 68%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(rgb(0, 0, 0) 68%, rgba(0, 0, 0, 0) 100%);
    margin: 0;
    display: flex;
    flex-direction: column;
}


.project-selected{
    background: linear-gradient(90deg, transparent 0%, rgb(85 63 41) 20%, rgb(156 126 94)40%, rgb(156 126 94) 60%, rgb(85 63 41) 80%, transparent 100%);
    text-shadow: 4px 2px 5px rgb(0, 0, 0);
}


/* scroll bar */
/* width */
.list-container::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.list-container::-webkit-scrollbar-track {
    background: linear-gradient(180deg, transparent 0%, #43423b 30%, #43423b 70%, transparent 100%);
    border-radius: 10px;
}

/* Handle */
.list-container::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, transparent 0%, rgb(213 198 159) 40%, rgb(213 198 159) 60%, transparent 100%);
    ;
    border-radius: 10 / 10px;
}

.list-container span {
    margin: 15px 0;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
}

.list-container span:first-child {
    margin-top: 150px;
}

.list-container span:last-child {
    margin-bottom: 200px;
}

.i-wrapper {
    margin: 0 0 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, rgb(58, 53, 42) 30%, rgb(58, 53, 42) 70%, rgba(21, 19, 15, 0) 100%);
    height: 450px;
    width: 800px;
    display: none;
}

.i-wrapper::before {
    content: '';
    display: block;
    width: 70%;
    height: 3px;
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, #5f5e55 5%, #5f5e55 95%, rgba(21, 19, 15, 0) 100%);
    border-radius: 400px / 2px;
    top: 80px;
    position: absolute;
}

.i-wrapper::after {
    content: '';
    display: block;
    width: 70%;
    height: 3px;
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, #5f5e55 5%, #5f5e55 95%, rgba(21, 19, 15, 0) 100%);
    border-radius: 400px / 2px;
    bottom: 80px;
    position: absolute;
}

.name-box {
    background: linear-gradient(90deg, transparent 0%, rgb(194 167 98 / 40%) 10%, rgb(255 210 105 / 42%) 25%, rgb(255 210 105 / 13%) 50%, transparent 100%);
    width: 50%;
    border-radius: 0 30% 30% 0;
    width: auto;
}

.name {
    font-size: 1.6em;
    text-transform: uppercase;
    color: var(--text-color-1);
    margin-left: 30px;
    text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.777);
}

.name::after {
    content: '';
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, rgba(234, 203, 122, 0.171) 5%, rgba(234, 203, 122, 0.171) 45%, rgba(21, 19, 15, 0) 100%);
}

.p-img {
    background-size: cover;
    width: 500px;
    margin: 0;
    align-self: center;
    user-select: none;
    -webkit-user-drag: none;
}

/* image effects here */

.text {
    margin: 0 30px 0 30px;
}

/* to project link/button */

.to-project a{
    text-decoration: none;
    color: var(--text-color-1);
}

.to-project{
    margin: 0 30px 0 30px;
    cursor: pointer;
    text-align: end;
}

.to-project:hover{
    filter: brightness(120%);
}


/* PROJECT START SCREEN */
.project-start-screen{
    margin: 0 0 0 70px;
    height: 450px;
    width: 800px;
    text-align: center;
}

.project-start-screen span{
    position: relative;
    top: 50%;
    font-size: 1.2em;
}

/* CONTACTS SCREEN */

.contact-screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 40%);
    font-size: 1.1em;
    height: calc(100% - 20%);
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, rgb(31 27 22) 20%, rgb(31 27 22) 80%, rgba(21, 19, 15, 0) 100%);
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    font-size: 2em;
    padding: 6px;
}

.title::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background: linear-gradient(90deg, transparent 0%, rgb(209 198 170) 30%, rgb(209 198 170) 70%, transparent 100%);
    border-radius: 50%;
}

.project-title{
    top: 2px;
}

.contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, rgb(55, 48, 39) 35%, rgb(55, 48, 39) 65%, rgba(21, 19, 15, 0) 100%);
    width: 100%;
    height: 7%;
    margin-bottom: 10px;
    padding: 0 20%;
    box-sizing: border-box;
}

.contact-content a{
    text-decoration: none;
    color: var(--text-color-1);
}

.contact-data {
    cursor: pointer;
}

.note {
    margin: 50px 0 0 0;
    padding: 0 10%;
}

.note p {
    font-size: 0.8em;
    text-align: center;
    padding: 0;
    margin: 0;
}

.contact-content:nth-last-child::before {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;

}

.back {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
}

.back:hover{
    filter: brightness(120%);
}

/* SETTINGS SCREEN */

.settings-screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 20%);
    font-size: 1.1em;
    height: calc(100% - 20%);
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, rgb(31 27 22) 20%, rgb(31 27 22) 80%, rgba(21, 19, 15, 0) 100%);
}

.settings-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, rgb(55, 48, 39) 35%, rgb(55, 48, 39) 65%, rgba(21, 19, 15, 0) 100%);
    width: 100%;
    height: 7%;
    margin-bottom: 10px;
    padding: 0 20%;
    box-sizing: border-box;
}

.music-toggle{
    cursor: pointer;
}

.volume-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* volume slider */
.volume-slider{
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, rgb(168, 145, 116) 10%, rgb(92, 80, 64) 10%);
    outline: none;
    box-shadow: 0 0 6px  rgba(168, 145, 116, 0.685);
    cursor: pointer;
}

.volume-slider::before{
    content: '';
    display: block;
    height: 15px;
    width: 2px;
    position: relative;
    top: -6px;
    background: linear-gradient(transparent 0%, rgb(170, 148, 119) 40%, rgb(170, 148, 119) 60%, transparent 100%);
    border-radius: 30%;
}

.volume-slider::after{
    content: '';
    display: block;
    height: 15px;
    width: 2px;
    position: relative;
    top: -6px;
    background: linear-gradient(transparent 0%, rgb(170, 148, 119) 40%, rgb(170, 148, 119) 60%, transparent 100%);
    border-radius: 30%;
}

/* chrome */
.volume-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 22px;
    width: 3px;
    background: linear-gradient(transparent 0%, rgb(197, 177, 150) 40%, rgb(197, 177, 150) 60%, transparent 100%);
    border-radius: 30%;
    cursor: pointer;
}

/* firefox */
.volume-slider::-moz-range-thumb{
    height: 22px;
    width: 3px;
    background: linear-gradient(transparent 0%, rgb(197, 177, 150) 40%, rgb(197, 177, 150) 60%, transparent 100%);
    border-radius: 30%;
    cursor: pointer;
}

.volume-value {
    width: 25px;
    padding-left: 50px;
    cursor: default;
}

.music-options-container{
    display: flex;
    flex-direction: row;
}

.music-options-popup{
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, rgb(84 74 61) 35%, rgb(84 74 61) 65%, rgba(21, 19, 15, 0) 100%);
    
    height: auto;
    text-align: center;
    
}

.music-options{
    cursor: pointer;
    padding: 0 10px;
    
}

.music-options-select{
    background: linear-gradient(90deg, transparent 0%, rgb(143, 119, 85) 30%, rgb(143, 119, 85) 70%, transparent 100%);
    text-shadow: 4px 2px 5px rgb(0, 0, 0);
}

.selected{
    background: linear-gradient(90deg, transparent 0%, rgb(101 88 72) 30%, rgb(101 88 72)70%, transparent 100%);
    text-shadow: 4px 2px 5px rgb(0, 0, 0);
}

.click-select{
    background: linear-gradient(90deg, transparent 0%, rgb(51, 35, 19) 20%, rgb(130, 95, 59) 40%, rgb(162, 127, 91) 45%, rgb(162, 127, 91) 55%,rgb(130, 95, 59) 60%, rgb(51, 35, 19) 80%, transparent 100%);
    border-radius: 10%;
    text-shadow: 4px 2px 5px rgb(0, 0, 0);

}

.click-back{
    background: linear-gradient(90deg, transparent 0%, rgb(85 63 41) 20%, rgb(156 126 94)40%, rgb(156 126 94) 60%, rgb(85 63 41) 80%, transparent 100%);
    border-radius: 10%;
    width: 20%;
    text-shadow: 4px 2px 5px rgb(0, 0, 0);
}

#particle-toggle{
    cursor: pointer;
}

/* EXIT MESSAGE */
.exit-screen{
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.exit-box{
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, rgb(31 27 22) 20%, rgb(31 27 22) 80%, rgba(21, 19, 15, 0) 100%);
    height: 400px;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.exit-box::before{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, #5f5e55 30%, #5f5e55 70%, rgba(21, 19, 15, 0) 100%);
    border-radius: 400px / 2px;
}

.exit-box::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, rgba(21, 19, 15, 0) 0%, #5f5e55 30%, #5f5e55 70%, rgba(21, 19, 15, 0) 100%);
    border-radius: 400px / 2px;
    position: absolute;
    bottom: 0;
}

.exit-heading{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    top: 50px;
}

.exit-message{
    position: absolute;
    margin: 0;
    top: 200px;
    text-align: center;
    font-size: 1.2em;
    padding: 0 170px;
}

.exit-back{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    cursor: pointer;
}

.exit-back-click{
    background: linear-gradient(90deg, transparent 0%, rgb(85 63 41) 20%, rgb(156 126 94)40%, rgb(156 126 94) 60%, rgb(85 63 41) 80%, transparent 100%);
    width: 12%;
    text-align: center;
    text-shadow: 4px 2px 5px rgb(0, 0, 0);
}

/* OVERLAY */
#particles{
    height: 100vh;
    width: 100vw;
    position: absolute;
    pointer-events: none;
    z-index: 20;
}

#home,
#start,
#projects-screen,
#contact-screen,
#settings-screen{
    z-index: 10;
}

/* THE NAME */
.name-container{
    width: 100vw;
    height: 500px;
    /* background: red; */
    position: absolute;
    top: 10%;
    text-align: center;
    color: rgb(229, 204, 140);
    text-shadow: -1px -1px 1px rgb(229, 204, 140),
                -1px 1px 1px rgb(229, 204, 140),
                1px -1px 1px rgb(229, 204, 140),
                1px 1px 1px rgb(229, 204, 140),
                0px 0px 10px rgb(229, 193, 140),
                0px 0px 20px rgb(229, 193, 140),
                0px 0px 30px rgb(229, 193, 140),
                0px 0px 45px rgb(235, 172, 108),
                0px 0px 65px rgb(235, 172, 108),
                0px 0px 85px rgb(235, 172, 108);
}

.the-name-1{
    font-size: 230px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.the-name-2{
    font-size: 130px;
    position: relative;
    top: 30%;
}

.the-name-3{
    font-size: 230px;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.project-display{
    width: 100vw;
    height: 100vh;
}

#nav{
    color: white;
    text-decoration: none;
    font-size: 5em;
}

/* FONTS */
@font-face {
    font-family: font;
    src: url(font/EBGaramond-Regular.ttf);
}