@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root{
    --primary-color: #5db483;
    --text-color: #3a3d3c;
    --border-radius: 5px;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    /* min-width: 100vh; */
    font-family: Comfortaa, sans-serif;
    background-color: var(--primary-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2341996a' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

h1{
    color: var(--text-color);
    padding: 20px;
    background: rgba(255, 255, 255, 0.508);
    border-radius: var(--border-radius);
    cursor: pointer;
    text-transform: uppercase;
    width: 300px;
    margin: 20px auto 10px;
    user-select: none;
    text-align: center;
}

h1:hover{
    background: rgba(255, 255, 255, 0.796);

}

/* bookmarks */
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    background: rgba(255, 255, 255, 0.508);
    color: var(--text-color);
    border-radius: var(--border-radius);
    padding: 20px;
    margin: 10px;
}

.item:hover{
    background: rgba(255, 255, 255, 0.608);
}

a{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

a:link, a:visited{
    color: var(--text-color);
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.fa-trash{
    float:right;
    cursor: pointer;
    z-index: 2;
}

.fa-trash:hover{
    filter: brightness(50%);
}

.name{
    margin-top: 20px;
    margin-right: 20px;
}

.name img{
    height: 20px;
    width: 20px;
    vertical-align: sub;
    margin-right: 5px;
}

/* modal */
.modal-container{
    background: rgba(0, 0, 0, 0.663);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.show-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.81);
    max-width: 95%;
    width: 500px;
    animation: modalopen 1s;
}

@keyframes modalopen{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.close-icon{
    float: right;
    color: #3a3d3c;
    font-size: 24px;
    position: relative;
    top: 13px;
    right: 13px;
    cursor: pointer;
}

.close-icon:hover{
    filter: brightness(50%);
}

.modal-header{
    background: var(--primary-color);
    color: #3a3d3c;
    padding: 15px;
}

h3{
    margin: 0;
}

.modal-content{
    padding: 20px;
    background: whitesmoke;
}

/* form */
.form-group{
    height: 55px;
}

.form-input{
    width: 97%;
    padding: 5px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    display: block;
    outline: none;
}

.form-label{
    color: var(--primary-color);
    display: block;
}

button{
    cursor: pointer;
    color: #3a3d3c;
    background: var(--primary-color);
    height: 30px;
    width: 100px;
    border: none;
    border-radius: var(--border-radius);
    margin-top: 10px;
    font-family: Comfortaa, sans-serif;
    font-weight: bold;
}

button:hover{
    filter: brightness(110%);
}

button:focus{
    outline: none;
}

/* media query - large smartphone (vertical) */
@media screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
}