@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(28, 27, 28);
}

.button-container{
    border: 3px solid rgb(154, 7, 7);
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);
}

button{
    cursor: pointer;
    outline: none;
    width: 120px;
    height: 75px;
    font-family: Orbitron, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 0 3px 5px black;
    border: 2px solid #1c1b1c;
    background: linear-gradient(to top, #333333, #222222);
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7), 0 8px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

button:hover{
    background: linear-gradient(to bottom, #333333, #222222);
}

button:active{
    transform: scale(.98,.98);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
}