@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Play', sans-serif;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 98%, 1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(250, 100%, 30%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name{
    font-size: 35px;
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
    letter-spacing: 20px;
    margin: 0 0 100px 0;
    font-weight: bold;
    color: white;
    background: rgb(25, 25, 25);
    border-radius: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.61);
}

.calculator {
    background: #f6f6f6;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.61);
}

.calculator-display {
    background: rgb(25, 25, 25);
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
    margin: 0;
    padding: 25px;
    font-size: 45px;
    font-family: 'Play', sans-serif;
    font-weight: 100;
    overflow-x: auto;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fed8ba;
}

::-webkit-scrollbar-thumb {
    background: #fb9f58;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fb9140;
}


/* buttons */
.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

button{
    min-height: 50px;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Play', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #c6c5c5;
}

button:hover{
    filter: brightness(110%);
}

button:active{
    transform: translateY(1px);
}

button:focus{
    outline: none;
}

.operator{
    background: #727272;
    color: white;
    font-size: 30px;
}

.clear{
    background: #e54545;
    color: white;
}

.equal-sign {
    grid-column: -2;
    grid-row: 2 / span 4;
    background: #66c666;
}

/* media query: large smartphone (vertical) */
@media screen and (max-width: 600px){
    .box{
        width: 95%;
    }
}
